# ignore python cache files
__pycache__/
*.py[cod]

# ignore environment files
.env/
env/
venv/
.conda/

# ignore jupyter notebook checkpoints
.ipynb_checkpoints

# ignore any CSV or data files
*.CSV
*.tar.gz

# ignore log files
logs/
*.log

# Ignore large model files
artifacts/*.pkl
models/*.pkl

# ignore zone.identifier files
*.zone.identifier